*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-full{
    height: 100vh;
    width: 100%;
}

.bg-navy{
    background-color: #212529;
}

.text-white{
    color: #ffffff;
}


.main-section-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text{
    text-align: center;
}

.flex-fullsize{
    flex-basis: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    justify-items: center;
    align-items: center;
}

.container-2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* untuk melihat layout */
.test{
    border: 1px solid red;
}